*.pyc
.installed.cfg
CONST_TIPS.txt
apache/README.txt
apache/frontend.conf
apache/mapserver.conf
apache/wsgi.conf
buildout/bin/
buildout/develop-eggs/
buildout/eggs/
buildout/parts/
deploy/deploy.cfg
development.ini
production.ini
config.yaml
mapserver/c2cgeoportal.map
*.egg-info/
c2cgp_minimal/static/build/*.js
c2cgp_minimal/static/build/*.css
c2cgp_minimal/locale/*/LC_MESSAGES/*.mo
print/config.yaml
print/templates/print.mako
deploy/hooks/post-restore-database
c2cgp_minimal/static/mobile/resources/sass/.sass-cache
c2cgp_minimal/static/mobile/resources/css/app.css
c2cgp_minimal/static/mobile/archive/
c2cgp_minimal/static/mobile/build/
c2cgp_minimal/static/mobile/openlayers-mobile.js
c2cgp_minimal/static/mobile/bootstrap.js
c2cgp_minimal/static/mobile/bootstrap.json
